mglu/apps/contingent/tools/wsdl/contingent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:webservices.bmstu.org"
 xmlns:apachesoap="http://xml.apache.org/xml-soap"
 xmlns:impl="urn:webservices.bmstu.org"
 xmlns:intf="urn:webservices.bmstu.org"
 xmlns:tns1="http://webservices.bmstu.org"
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
 xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<wsdl:types>

	<!-- Map type for hashes in Apache SOAP namespace -->
	<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.apache.org/xml-soap">
		<complexType name="Map">
			<sequence>
				<element name="item" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="key" type="xsd:anyType" />
							<element name="value" type="xsd:anyType" />
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</schema>

	<schema elementFormDefault="qualified" targetNamespace="urn:webservices.bmstu.org" xmlns="http://www.w3.org/2001/XMLSchema">

		<!-- Base object -->
		<complexType name="object">
			<sequence>
				<element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			</sequence>
		</complexType>
		<element name="object" type="impl:object"/>

		<!-- Person -->
		<complexType name="person">
			<sequence>
				<element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
						<element name="firstName" type="xsd:string" minOccurs="0"/>
						<element name="fatherName" type="xsd:string" minOccurs="0"/>
						<element name="lastName" type="xsd:string" minOccurs="0"/>
						<element name="birthDate" type="xsd:date" minOccurs="0"/>
						<element name="gender" type="xsd:string" minOccurs="0"/>
					</sequence>
		</complexType>

		<!-- Student: Person -->
		<complexType name="student">
			<sequence>
				<element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
						<element name="firstName" type="xsd:string" minOccurs="0"/>
						<element name="fatherName" type="xsd:string" minOccurs="0"/>
						<element name="lastName" type="xsd:string" minOccurs="0"/>
						<element name="birthDate" type="xsd:date" minOccurs="0"/>
						<element name="gender" type="xsd:string" minOccurs="0"/>

						<element name="faculty" type="xsd:string" minOccurs="0"/>
						<element name="department" type="xsd:string" minOccurs="0"/>
						<element name="group" type="xsd:string" minOccurs="0"/>
						<element name="ishead" type="xsd:boolean" minOccurs="0"/>
						<element name="dormitory" type="xsd:boolean" minOccurs="0"/>
						<element name="chargeable" type="xsd:boolean" minOccurs="0"/>
						<element name="liabilities" type="xsd:short" minOccurs="0"/>
						<element name="cardNumber" type="xsd:string" minOccurs="0"/>
						<element name="state" type="xsd:string" minOccurs="0"/>
						<element name="speciality-code" type="xsd:string" minOccurs="0"/>

						<element name="passportSeria" type="xsd:string" minOccurs="0"/>
						<element name="passportNumber" type="xsd:string" minOccurs="0"/>
						<element name="passportIssuer" type="xsd:string" minOccurs="0"/>
						<element name="passportDate" type="xsd:date" minOccurs="0"/>
						<element name="taxpayerIdentity" type="xsd:string" minOccurs="0"/>
						<element name="socialSecurityNumber" type="xsd:string" minOccurs="0"/>
						<element name="healthIsuranceSeria" type="xsd:string" minOccurs="0"/>
						<element name="healthIsuranceNumber" type="xsd:string" minOccurs="0"/>
						<element name="healthIsuranceCompany" type="xsd:string" minOccurs="0"/>
						<element name="stationaryString" type="xsd:string" minOccurs="0"/>
						<element name="stationaryOKATO" type="xsd:string" minOccurs="0"/>
						<element name="temporalString" type="xsd:string" minOccurs="0"/>
						<element name="temporalOKATO" type="xsd:string" minOccurs="0"/>
						<element name="expires" type="xsd:date" minOccurs="0"/>
						<element name="cellular" type="xsd:string" minOccurs="0"/>
						<element name="phone" type="xsd:string" minOccurs="0"/>
						<element name="citizenship" type="xsd:string" minOccurs="0"/>
<!--						<element name="birthPlace" type="types:shortAddress" minOccurs="0"/>-->
						<element name="contractNumber" type="xsd:string" minOccurs="0"/>
						<element name="contractDate" type="xsd:date" minOccurs="0"/>
					</sequence>
		</complexType>
<!--		
  <xsd:complexType name="shortAddress">
    <xsd:sequence>
      <xsd:element name="country" type="xsd:string" minOccurs="0"/>
      <xsd:element name="countryCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="region" type="xsd:string" minOccurs="0"/>
      <xsd:element name="regionCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="zone" type="xsd:string" minOccurs="0"/>
      <xsd:element name="zoneCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="city" type="xsd:string" minOccurs="0"/>
      <xsd:element name="cityCode" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
-->

		<!-- Person for report on graduated persons -->
		<complexType name="reportGraduatedPerson">
			<sequence>
				<element name="id" type="xsd:string" minOccurs="1" maxOccurs="1"/>
				<element name="firstName" type="xsd:string" minOccurs="0"/>
				<element name="fatherName" type="xsd:string" minOccurs="0"/>
				<element name="lastName" type="xsd:string" minOccurs="0"/>
				<element name="profession" type="xsd:string" minOccurs="0"/>
				<element name="professionCode" type="xsd:string" minOccurs="0"/>
				<element name="qualification" type="xsd:string" minOccurs="0"/>
				<element name="qualificationCode" type="xsd:string" minOccurs="0"/>
				<element name="diplomaType" type="xsd:int" minOccurs="0"/>
				<element name="protocolDate" type="xsd:date" minOccurs="0"/>
				<element name="protocolNumber" type="xsd:string" minOccurs="0"/>
				<element name="orderNumber" type="xsd:string" minOccurs="0"/>
				<element name="faculty" type="xsd:string" minOccurs="0"/>
			</sequence>
		</complexType>
		<element name="reportGraduatedPerson" type="impl:reportGraduatedPerson"/>

		<!-- Request / response for method "get" -->
		<element name="getRequest">
			<complexType>
				<sequence>
					<element name="id" type="xsd:string"/>
				</sequence>
			</complexType>
		</element>
		<element name="getResponse">
			<complexType>
				<sequence>
					<element name="object" type="impl:object" minOccurs="0" maxOccurs="1"/>
				</sequence>
			</complexType>
		</element>

		<!-- Request / response for method "reportGraduated" -->
		<element name="reportGraduatedRequest">
			<complexType>
				<sequence>
					<element name="year" type="xsd:int"/>
					<element name="department" type="xsd:string"/>
				</sequence>
			</complexType>
		</element>
		<complexType name="ArrayOfReportGraduatedPerson">
			<sequence>
				<element maxOccurs="unbounded" minOccurs="0" name="reportGraduatedPerson" type="impl:reportGraduatedPerson"/>
			</sequence>
		</complexType>
		<element name="reportGraduatedResponse" type="impl:ArrayOfReportGraduatedPerson"/>

		<!-- Request / response for methods "list" -->
		<element name="listStudentsResponse">
			<complexType>
				<sequence>
					<element name="student" type="impl:student"/>
				</sequence>
			</complexType>
		</element>
		<complexType name="ArrayOfStudent">
			<sequence>
				<element maxOccurs="unbounded" minOccurs="0" name="student" type="impl:student"/>
			</sequence>
		</complexType>
		<element name="listStudentsResponse" type="impl:ArrayOfStudent"/>

   <complexType name="listOrderTypes">
    <sequence/>
   </complexType>
   <element name="listOrderTypes" type="impl:listOrderTypes"/>
   <complexType name="orderType">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="type" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfOrderTypes">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="orderType" type="impl:orderType"/>
    </sequence>
   </complexType>
   <element name="listOrderTypesResponse" type="impl:ArrayOfOrderTypes"/>

   <complexType name="listOrders">
    <sequence/>
   </complexType>
   <element name="listOrders" type="impl:listOrders"/>
   <complexType name="listOrdersResponse">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="order" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="listOrdersResponse" type="impl:listOrdersResponse"/>

		</schema>
	</wsdl:types>

	<wsdl:message name="versionRequest"/>
	<wsdl:message name="versionResponse">
		<wsdl:part name="version" type="xsd:string"/>
	</wsdl:message>

	<wsdl:message name="getRequest">
		<wsdl:part element="impl:getRequest" name="getRequest"/>
	</wsdl:message>
	<wsdl:message name="getResponse">
		<wsdl:part element="impl:getResponse" name="getResponse"/>
	</wsdl:message>

	<wsdl:message name="reportGraduatedRequest">
		<wsdl:part element="impl:reportGraduatedRequest" name="reportGraduatedRequest"/>
	</wsdl:message>
	<wsdl:message name="reportGraduatedResponse">
		<wsdl:part element="impl:reportGraduatedResponse" name="reportGraduatedResponse"/>
	</wsdl:message>

	<wsdl:message name="listStudentsRequest">
		<wsdl:part name="listStudentsRequest" type="apachesoap:Map"/>
	</wsdl:message>
	<wsdl:message name="listStudentsResponse">
		<wsdl:part element="impl:listStudentsResponse" name="listStudentsResponse"/>
	</wsdl:message>

   <wsdl:message name="listOrderTypesRequest">
      <wsdl:part element="impl:listOrderTypes" name="listOrderTypes"/>
   </wsdl:message>
   <wsdl:message name="listOrderTypesResponse">
      <wsdl:part element="impl:listOrderTypesResponse" name="listOrderTypesResponse"/>
   </wsdl:message>


   <wsdl:message name="listOrdersRequest">
      <wsdl:part element="impl:listOrders" name="listOrders"/>
   </wsdl:message>
   <wsdl:message name="listOrdersResponse">
      <wsdl:part element="impl:listOrdersResponse" name="listOrdersResponse"/>
   </wsdl:message>

   <wsdl:portType name="StudentsSrvPort">

      <wsdl:operation name="version" parameterOrder="version">
         <wsdl:input message="impl:versionRequest" name="versionRequest"/>
         <wsdl:output message="impl:versionResponse" name="versionResponse"/>
      </wsdl:operation>

      <wsdl:operation name="get" parameterOrder="get">
         <wsdl:input message="impl:getRequest" name="getRequest"/>
         <wsdl:output message="impl:getResponse" name="getResponse"/>
      </wsdl:operation>

      <wsdl:operation name="reportGraduated" parameterOrder="reportGraduated">
         <wsdl:input message="impl:reportGraduatedRequest" name="reportGraduatedRequest"/>
         <wsdl:output message="impl:reportGraduatedResponse" name="reportGraduatedResponse"/>
      </wsdl:operation>

      <wsdl:operation name="listOrderTypes" parameterOrder="listOrderTypes">
         <wsdl:input message="impl:listOrderTypesRequest" name="listOrderTypesRequest"/>
         <wsdl:output message="impl:listOrderTypesResponse" name="listOrderTypesResponse"/>
      </wsdl:operation>

      <wsdl:operation name="listOrders" parameterOrder="listOrders">
         <wsdl:input message="impl:listOrdersRequest" name="listOrdersRequest"/>
         <wsdl:output message="impl:listOrdersResponse" name="listOrdersResponse"/>
      </wsdl:operation>

      <wsdl:operation name="listStudents" parameterOrder="listStudents">
         <wsdl:input message="impl:listStudentsRequest" name="listStudentsRequest"/>
         <wsdl:output message="impl:listStudentsResponse" name="listStudentsResponse"/>
      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentsServiceSoapBinding" type="impl:StudentsSrvPort">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="version">
         <wsdlsoap:operation soapAction="urn:#version"/>
         <wsdl:input name="versionRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="versionResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="get">
         <wsdlsoap:operation soapAction="urn:#get"/>
         <wsdl:input name="getRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="getResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="reportGraduated">
         <wsdlsoap:operation soapAction="urn:#reportGraduated"/>
         <wsdl:input name="reportGraduatedRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="reportGraduatedResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="listOrderTypes">
         <wsdlsoap:operation soapAction="urn:#listOrderTypes"/>
         <wsdl:input name="listOrderTypesRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="listOrderTypesResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="listOrders">
         <wsdlsoap:operation soapAction="urn:#listOrders"/>
         <wsdl:input name="listOrdersRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="listOrdersResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

      <wsdl:operation name="listStudents">
         <wsdlsoap:operation soapAction="urn:#listStudents"/>
         <wsdl:input name="listStudentsRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="listStudentsResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="StudentsWS">
		<wsdl:port binding="impl:StudentsServiceSoapBinding" name="StudentsService">
			<wsdlsoap:address location="http://127.0.0.1:8081/SOAP"/>
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
